* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    width: 80%;
    margin: 0 auto;
}
#encabezadoYnavegacion {
    display: flex;
}

#encabezadoYnavegacion img {
    width: auto;
}

#encabezadoYnavegacion ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

#encabezadoYnavegacion ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}